*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 50px;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: rgba(76, 76, 183, 0.429);
    width: 20%;
    height: 70vh;
    margin: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.position{
    position: absolute;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f4f4f4;
    top: 20px;
    border: 8px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 0.1s linear infinite;

    
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.blade{
    width: 10px;
    height: 80px;
    top: 20px;
    border-radius: 10px;
    background-color: black;
    transform-origin: bottom;
}
.blade1{
    width: 10px;
    height: 80px;
    top: 75px;
    left: 115px;
    border-radius: 10px;
    background-color: black;
    rotate: 130deg;
}
.blade2{
    width: 10px;
    height: 80px;
    top: 70px;
    left: 60px;
    border-radius: 10px;
    background-color: black;
    rotate: -120deg;
}

.dot{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(114, 155, 141);
}
.fan-inner-stand{
    width: 20px;
    height: 100px;
    background-color: rgb(231, 225, 225);
    top: 200px;
}
.fan-outside-stand{
    width: 60px;
    height: 150px;
    background-color: rgba(29, 27, 27, 0.833);
    top: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.on-fan{
    top: 25px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
button{
    width: 50px;
    height: 25px;
    background-color: #f4f4f4;
    border: thin solid black;
}
.stand{
    width: 150px;
    height: 30px;
    background-color: rgb(37, 34, 34);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    top: 430px;
    border-bottom: 3px solid #f4f4f4;
}