*{
    margin: o;
}
.container{
    display: flex;
    border: 5px solid black;
    width: 50%;
    height: 50vh;
    margin: 100px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.position{
    position: absolute;
}
.speaker1{
    background-color: black;
    width: 100px;
    height: 200px;
    top: 100px;
    left: 50px;
    
}
.circle1{
    background-color: white;
    width: 50px;
    height: 50px;
    left: 25px;
    top: 5px;
    border-radius: 50%;
    animation: color-circle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes color-circle{
    20%{
        background-color: blue;
        transform: rotate(20deg);
    }
    40%{
        background-color: red;
        transform: rotate(40deg);
    }
    60%{
        background-color: green;
        transform: rotate(80deg);
    }
    80%{
        background-color: orange;
        transform: rotate(160deg);
    }
    100%{
        background-color: purple;
        transform: rotate(360deg);
    }
}
.inner-circle1{
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 12px;
    left: 12.5px;
}
.television{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 300px;
    height: 150px;
    top: 110px;
}
.stand{
    top: 10px;
    left: 15px;
}
.image-stadium{
    width: 270px;
    height: 130px;
}
.player1{
    top: 80px;
    left: 20px;
}
.player2{
    left: 250px;
    top: 80px;
}
.image-player{
    width: 30px;
}
.image-ball{
    width: 20px;
}
.ball{
    top: 100px;
    animation: moving 3s infinite linear;
}
@keyframes moving {
    0%{
        transform: translateX(100px);
    }
    50%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(100px);
    }

}
.ps-4{
    width: 120px;
    height: 20px;
    background-color: black;
    left: 170px;
    top: 270px;
}
.power-on{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: blue;
    top: 6px;
    left: 5px;
}
.insert-disk{
    width: 60px;
    height: 2px;
    background-color: #fff;
    top: 8px;
    left: 15px;
    border-radius: 2px;
}
.tv-stand{
    background-color: black;
    width: 20px;
    height: 40px;
    top: 250px;
}
.tv-oval{
    background-color: black;
    width: 70px;
    height: 30px;
    border-radius: 50%;
    top: 270px;
}
.speaker2{
    top: 100px;
    background-color: black;
    width: 100px;
    height: 200px;
    left: 560px;
}
.circle2{
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 25px;
    top: 5px;
    animation: color-circle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.inner-circle2{
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 12px;
    left: 12.5px;
}