*{
    margin: 0;

}

header{
    background-color: #F5F5EE;
}
nav{
    padding: 20px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.left-nav{
    display: flex;
}
.left-nav img{
    width: 70px;
    height: auto;
}
.left-nav ul{
    display: flex;
    align-items: center;
    gap: 25px;
}
.left-nav ul li{
    list-style-type: none;
}
.left-nav ul li a{
    text-decoration: none;
    color: black;
}
.right-nav{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.right-nav a{
    padding: 10px 20px;
    background-color: #FB651E;
    text-decoration: none;
    border-radius: 4px;
    color: #ffff;
}
.hero{
    display: flex;
    width: 100%;
    background-color: #ffff;
}
.left-hero{
    width: 50%;
    margin: auto 100px;
}
.left-hero h1{
    color: #FB651E;
    font-size: 4rem;
    margin-bottom: 10px;
}
.left-hero p{
    margin-bottom: 20px;
    font-size: 2rem;
}
.left-hero a{
    border-radius: 5px;
    background-color: #FDA942;
    padding: 10px 30px;
    text-decoration: none;
    color: #ffff;
    font-size: 1.3rem;
}
.right-hero img{

}