*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
body{
    
}
header{
    background-color: #F5F5EE;
    position: relative;
}
nav{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
}
.left-nav{
    display: flex;
    align-items: center;
    position: relative;
}
.left-nav img{
    width: 50px;
    margin: 5px;
}
.left-nav ul{
    display: flex;
    list-style-type: none;
}
.left-nav ul li{
    padding: 10px; 
}
.left-nav .links{
    color: black;
    text-decoration: none;
}
.links:hover{
    color: rgba(129, 173, 190, 0.785);
}
.dropdown-link{
    position: relative;
    cursor: pointer;
}

.dropdown{
    visibility: hidden;
    background-color: white;
    box-shadow: 1px 1px 5px black;
    position: absolute;
    border-radius: 4px;
    padding: 10px;
    z-index: 2;
}
.dropdown a{
    color: black ;
    padding: 7px;
    display: block;
    text-decoration: none;
}
.dropdown a:hover{
    background-color: #F5F5EE;
}

.right-nav{
    display: flex;
    align-items: center;
}
.right-nav a{
    text-decoration: none;
    padding: 10px 15px;
    background-color: #FB651E;
    border-radius: 10px;
    margin: 5px;
    font-size: 1.2rem;
    color: #ffff;
}
.left-nav ul li:hover .dropdown{
    visibility: visible;
}

.hero{
    display: flex;
    width: 100%;
    background-color: #ffff;
    align-items: center;
    justify-content: center;
}
.left-hero{
    width: 50%;
    margin: auto 100px;
}
.left-hero h1{
    color: #FB651E;
    font-size: 4rem;
    margin-bottom: 10px;
}
.left-hero p{
    margin-bottom: 20px;
    font-size: 2rem;
}
.left-hero a{
    text-decoration: none;
    color: #ffff;
    padding: 10px 30px;
}
.left-hero a:hover{
    color: #FB651E;
}
.left-hero .btn-link{
    border-radius: 5px;
    background-color: #FDA942;
    border: none;
    padding: 10px 0;
    font-size: 1.3rem;
    cursor: pointer;
}


.left-hero .btn-link:hover{
    background-color: #271c0f;
    transform: translateY(30px);
    transition: 5s;
}
.position{
    position: absolute;
}
.btn-position{
    top: 50px;
    left: 50%;
    border-radius: 20px;
    margin: 10px;
    padding: 40px 40px;
    background-color: #F5F5EE;
    font-size: 0.9rem;
    
}
.btn-position .number{
    font-size: 2.5rem;
    font-weight: 800;
    color: #FB651E;
}
